<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601646203318-l8253hk64rg05clcb3ec0t67f2qc1rmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601646203318-l8253hk64rg05clcb3ec0t67f2qc1rmj</string>
	<key>API_KEY</key>
	<string>AIzaSyAtfIqmNrBlIOW23sQG8QpXdmADSKQAOOg</string>
	<key>GCM_SENDER_ID</key>
	<string>601646203318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacymanagementsystem</string>
	<key>PROJECT_ID</key>
	<string>pharmasync-16de1</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmasync-16de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601646203318:ios:a11c8012277a332eaec117</string>
</dict>
</plist>